* {
  outline: none;
  box-sizing: border-box;
}
body {
  background-image: url('./wavey-fingerprint.svg');
  background-position: center;
  background-size: 17%;
}
form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  outline: none;
}
fieldset {
  border: 0;
  background: rgba(236, 236, 236, 0.808);
  box-shadow: 0 0 2px 5px rgba(236, 236, 236, 0.808);;
}
.box-input input[type="text"],
.box-input textarea,
.box-input select{
  font-size: .875rem;
  padding: .5rem .8rem;
  width: 100%;
}
textarea {
  resize: none;
  width: 100%;
}
input[type="submit"] {
  background: rgb(17, 145, 49);
  color: #f5f4f5;
  border: 0;
  padding: .95rem 2rem;
  cursor: pointer;
  transition: .3s ease;
}
input[type="submit"]:hover {
  background: rgb(11, 87, 30);
}

.box-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0;
}
.box-input label{
  font-size: 1.2rem;
}
.box-input select option:nth-of-type(1){
  text-align: center;
}
.checks label.interna{
  font-size: 1.2rem;
}
.box-interna .box-input.checks {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  margin: 0;
}
.box-input.checks:nth-of-type(1){
  margin-top: 20px;
}
.box-input.checks label {
  font-size: 1rem;
  font-weight: 300;
}
.box-input.checks input[type="checkbox"] {
  display: flex;
  width: 20px;
  height: 20px;
}